.clerk-navigation>div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    padding: 0px 250px;
}



.clerk-navigation>div>a {
    font-weight: 500;
}

.nav-a-tag {
    display: flex;
}

.nav-a-tag>a {
    margin: 0 40px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-button:last-child {
    margin-right: 100px;
}

.menuList {
    position: absolute;
    display: flex;
    left: 20%;
    background-color: white;
    border-radius: 20px;
    height: 1050px;
    transition: 0.4s;
}

.menuList>div {
    margin: 10px 100px;
}

.feature-list:hover {
    background-color: rgba(0, 0, 0, .04);
    border-radius: 8px;
}

.menuList h1 {
    font-size: 1.5rem;
    margin-top: 30px;
}

.menuList h2 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 40px;
}

.menuList h3 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 30px;
}

.sign-in {
    border: none;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 30px;
    color: black;
}

.sign-up {
    color: blue;
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.5rem;
    margin: 0 30px;
}

.menuList h4 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 90px;
}

.menuList h5 {
    font-size: 1.4rem;
    margin-bottom: 0;
    margin-top: 40px;
}

.feature-list {
    display: flex;
    font-size: 1.4rem;
    padding-top: 0px;
}

.feature-list img {
    padding: 15px;

}

.feature-list p {
    margin-bottom: 0;
    margin: 15px;
}