nav.kongnav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.kongnav-container {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.kongnav>div:first-child {
    display: flex;
    align-items: center;
}

.kongnav-menu {
    margin-right: 80px;
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

.product-menu {
    font-weight: bold;
}

.product-menu:hover {
    color: #537085;
    font-weight: bold;
}

.kongnav-menu img {
    height: 20px;
    margin-top: 5px;
}

.kong-logo img {
    /* height: 80px; */
    margin-left: 20px;
    width: auto;
    /* background-color: #fafbfd; */
}


.kongnav-menu>li:first-child a {
    display: flex;
    align-items: center;
}

.kongnav-link {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.kongnav-link a {
    font-size: 1.1rem;
    text-decoration: none;
}

.kongnav-link button {
    font-size: 0.8rem;
    padding: 15px 25px;
    border-radius: 8px;
}

.open {
    rotate: 180deg;
}

.demoBtn {
    background-color: #1155cb;
    color: #ffffff;
    border: 1px solid #1155cb;
}

button {
    cursor: pointer;
}

.startBtn {
    background-color: #ffffff;
    color: #5284d8;
    border: 1px solid #1155cb;
    transition: .4s all ease-in-out;
    transform: translateX(0);
}

.startBtn:hover {
    background-color: #1155cb;
    color: white;
    transform: translateX(1);

}

.kongnav-menu-2 {
    font-weight: bold;
}

.kongnav-menu-2:hover {
    color: #537085;
}

.dullBackground {
    z-index: -10;
    background-color: #00000099;
}

.brightBackground {
    background-color: white;
}