.segment-Navigation {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    margin: 10px 30px;
    align-items: center;
}

.features {
    display: flex;
}

.features>a {
    font-weight: 500;
    color: black;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.Nav-Btn>a {
    font-weight: 500;
    color: black;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.Nav-Btn>button {
    background-color: blue;
    color: white;
    padding: 20px 20px;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 12px;
}

.menuList {
    position: absolute;
    display: flex;
    margin: 40px;
    left: 20%;
    box-shadow: rgba(13, 21, 55, 0.4) 0px 40px 80px;
    border-radius: 12px;
}

.hr {
    height: 1px;
    background-color: lightslategray;
    border: none;
}

.segment-menu-list {
    display: flex;
}

.first-menu-list h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
}

.product-list {
    margin-top: 70px;
    margin-right: 100px;
}

.first-menu-list {
    background-color: white;
    border-radius: 8px;
    padding: 40px;
}

.first-menu-list h3 {
    font-size: 1.2rem;
}

.feature-list h1 {
    font-size: 1.4rem;
    margin-bottom: 3px;
    font-weight: 500;
}

.feature-list {
    background-color: #f4f4f6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    width: 600px;
    padding: 40px;
    height: 920px;
}

.feature-menu-list {
    display: flex;
}

.feature-menu-list p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 0px;
}

.feature-menu-list img {
    height: 30px;
    margin-top: 33px;
    margin-right: 20px;
}

.segment-menu-list p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 0px;
}

.segment-menu-list h1 {
    margin-top: 30px;
    font-weight: 500;
}


.segment-menu-list img {
    height: 30px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #f4f4f6;
    border-radius: 8px;
    padding: 25px 30px;
}

.lists {
    display: flex;
}