.clickup-navigation {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 50px;
}

.clickup-navigation h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.clickup-navigation>div>img {
    margin: 0px 10px;
    height: 50px;
    width: 40px;
}

.clickup-navigation>div:first-child {
    display: flex;
    align-items: center;
}

.clickup-navigation>a {
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    margin-top: 40px;
    font-size: 1.7rem;
}


.clickup-navigation button {
    align-items: center;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
    padding: 20px 20px;
    margin-top: 25px;
}

.sign-btn-nav {
    background-color: #7c68ed;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 10px;
}


.log-btn-nav {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 200px;
}

.buttons {
    margin: 0px 10px;
}

.menuList {
    position: absolute;
    left: 0px;
    margin: 45px;
    border-radius: 8px;
    background-color: white;
    display: flex;
}


.contact {
    margin-left: 200px;
}

.menuBar {
    display: flex;
}


.product-menu-list {
    display: flex;
    font-size: 1.2rem;
    padding: 40px 50px;
}

.platform-menu-list {
    display: flex;
    font-size: 1.2rem;
    padding: 25px;
    justify-content: space-between;
}


.product-menu-list h1 {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 15px;
}

.hr {
    color: rgb(255, 252, 252);
    margin-left: 70px;
    margin-right: 30px;
}

.product-menu-list p {
    color: gray;
}

.platform-menu-list h1 {
    font-size: 2.2rem;
    font-weight: 200;
    margin: 15px;
}


.platform-menu-list p {
    color: gray;
    margin: 15px;
}

.platform-list {
    display: flex;
}

.platform-menu-list>div {
    margin: 0px 50px;
}

.menuBar p {
    margin: 15px;
}


.img-list {
    height: 60px;
    width: 60px;
    margin-top: 20px;
}

.menuList button {
    font-size: 2.2rem;
    font-weight: 500;
    border-radius: 12px;
    padding: 10px 470px;
    display: flex;
    margin-left: 20px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo p4 {
    color: white;
    font-size: 2.2rem;
}

.header-logo p2 {
    color: #ff41c9;
    font-size: 1.9rem;
}

.img-header {
    height: 40px;
    width: 30px;
    margin: 5px;
}

.header-sentence {
    color: white;
    text-align: center;
    font-size: 2.1rem;
}

.header {
    background: linear-gradient(108.42deg, #2a2e34 59.96%, #ff41c9 116.89%);
    width: 1250px;
    border-radius: 12px;
    padding: 35px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.menuList h1 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: 450;
}


.newTag {
    background-color: #2b2f35;
    border-radius: 8px;
    padding: 1px 10px;
    color: white;
    margin-right: 1100px;
}

.header-sentence p3 {
    color: #ff41c9;
    font-size: 2.3rem;
}

.btnP {
    color: #7c68ed;
    margin: 15px;
    font-size: 3.1rem;
}

.platform {
    display: flex;
}

.platform-h1 {
    margin-left: 80px;
    margin-bottom: 0px;
}

.main {
    justify-content: space-between;
}

.product-menu {
    display: flex;
}

.open {
    rotate: 180deg;

}