.clickup-navigation {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 50px;
}

.clickup-navigation h1 {

    font-size: 2.5rem;
    font-weight: bold;
}

.clickup-navigation>div>img {
    margin: 0px 10px;
    height: 50px;
    width: 40px;
}

.clickup-navigation>div:first-child {
    display: flex;
    align-items: center;
}

.clickup-navigation>a {
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 600;
    margin-top: 40px;
    font-size: 1.7rem;
}


.clickup-navigation button {
    align-items: center;
    height: 50px;
    border-radius: 8px;
    margin-top: 40px;
    border: none;
    padding: 0px 10px;
}

.sign {
    background-color: #7c68ed;
    color: white;
    height: 20px;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 10px;
}


.log {
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 200px;
}

.buttons {
    margin: 0px 10px;
}

li {
    display: block;
    transition-duration: 0.5s;
}

.menuList {
    position: absolute;
    margin: 45px -280px;
    padding: 0px 40px;
    border-radius: 8px;
    background-color: white;
    border: none;
    box-sizing: border-box;
    width: 2055px;
    display: flex;
}

.contact {
    margin-left: 200px;
}

.menuBar {
    display: flex;
}

.list h1 {
    font-size: 1.5rem;
    margin-right: 170px;
}

.list {
    display: flex;
    font-size: 1.2rem;
}

.list1 {
    display: flex;
    font-size: 1.2rem;
}

.list1 h1 {
    font-size: 1.5rem;
    margin-right: 100px;
}

.img-list {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin: 10px;
}

.menuList button {
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 12px;
    padding: 5px 380px;
    display: flex;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo p4 {
    color: white;
    font-size: 2.5rem;
}

.header-logo p2 {
    color: #ff41c9;
    font-size: 2.5rem;
}

.img-header {
    height: 40px;
    width: 30px;
    margin: 5px;
}

.header-sentence {
    color: white;
    text-align: center;
}

.header {
    background: linear-gradient(108.42deg, #2a2e34 59.96%, #ff41c9 116.89%);
    border-radius: 12px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

.menuList h1 {
    text-align: left;
    font-size: 1.2rem;
    font-weight: 700;
}


.newTag {
    background-color: #2b2f35;
    border-radius: 8px;
    padding: 1px 10px;
    color: white;
    margin-right: 800px;
}

.header-sentence p3 {
    color: #ff41c9;
    font-size: 2.1rem;
}

.btnP {
    color: #7c68ed;
    margin: 10px;
}

.platform {
    display: flex;
}

.main {
    justify-content: space-between;
}