.segment-navigation {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
    margin: 10px 30px;
    align-items: center;
}

.segment-navigation>div:first-child {
    display: flex;
    align-items: center;
}

.heading h9 {
    font-size: 2.1rem;
}


.segment-navigation img {
    height: 40px;
    width: 30px;
}

.segment-navigation .features {
    display: flex;
}

.segment-navigation .features>a {
    font-weight: 500;
    color: black;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.segment-navigation .nav-btn>a {
    font-weight: 500;
    color: black;
    margin: 0px 60px;
    justify-content: space-between;
    text-decoration: none;
    font-size: 1.6rem;
}

.segment-navigation .nav-btn>button {
    background-color: blue;
    color: white;
    padding: 20px 20px;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 12px;
}

.segment-navigation .menuList {
    position: absolute;
    left: 0px;
    right: 0px;
    transition: 0.4s;
    transform: translateX(0);
    display: flex;
    margin: 20px;
    left: 15%;
    box-shadow: rgba(13, 21, 55, 0.4) 0px 40px 80px;
    border-radius: 12px;
}

.nav-segment-hr {
    height: 1px;
    background-color: lightslategray;
    border: none;
}

.segment-menu-list {
    display: flex;
}

.segment-navigation .first-menu-list h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
}

.segment-navigation .product-list {
    margin-top: 70px;
    margin-right: 100px;
}

.first-menu-list {
    background-color: white;
    border-radius: 8px;
    padding: 40px;
}

.first-menu-list h3 {
    font-size: 1.2rem;
}

.feature-list h1 {
    font-size: 1.4rem;
    margin-bottom: 3px;
    font-weight: 500;
}

.feature-list {
    background-color: #f4f4f6;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px;
    width: 600px;
    padding: 40px;
    height: 920px;
}

.feature-menu-list {
    display: flex;
}

.feature-menu-list p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 0px;
}

.feature-menu-list img {
    height: 30px;
    margin-top: 33px;
    margin-right: 20px;
}

.segment-menu-list p {
    font-size: 1.3rem;
    color: gray;
    margin-top: 0px;
}

.segment-menu-list h1 {
    margin-top: 30px;
    font-weight: 500;
}


.segment-menu-list img {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 25px 30px;
}

.lists {
    display: flex;
}

.segment-navigation .menuList .segment-menu-list>span>:hover {
    color: aqua;
}

.segment-navigation .menuList .feature-menu-list>span>:hover {
    color: aqua;
}

.segment-navigation .hamburger .slice:not(:last-child) {
    margin-bottom: 4px;
    ;
}

.segment-navigation .hamburger .slice {
    height: 3px;
    width: 30px;
    background-color: black;
    cursor: pointer;
}

.segment-navigation .hamburger {
    display: none;
}

.mobile-product-list {
    display: none;
}

.productBtn {
    position: absolute;
    display: flex;
    width: 1000px;
    flex-direction: column;
    column-gap: 20px;
    margin: 2px;
    padding: 20px 20px;
    z-index: 1;
    background-color: lightgray;
    left: 25rem;
    margin-top: 20px;
}

.segment-product {
    display: flex;
    justify-content: space-between;
}

.productBtn h1 {
    font-size: 1.6rem;
    font-weight: 300;
}

.productMenu>div p {
    margin-bottom: 0;
    margin-top: -20px;
    font-size: 1.2rem;
}

.lastItem {
    display: flex;
    align-items: center;
    top: 0px;
    margin-top: -25px;
}

.lastItem>img {
    height: 50px;
    width: 50px;
    margin-top: 1px;
    background-color: white;
    margin-right: 10px;
}

.lastItem>div p {
    font-size: 1.2rem;
    margin-top: -20px;
}

.items>span {
    font-size: 1.2rem;
    margin-top: 10px;
}

.productMenu {
    display: flex;
    align-items: center;
}

.productMenu>img {
    margin-right: 10px;
    background-color: white;
    height: 40px;
    width: 40px;
    margin-top: 20px;
}

.productMenu>h1 {
    font-size: 1.8rem;
}

.close-product {
    display: none;
    visibility: hidden;
}

.all-product-menu {
    width: 1200px;
}

.items {
    width: 1200px;
    margin-top: -62px;
}